# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
PP=np.random.randint(10000,size=7)
PP

array([ 708, 8954, 6858,   18, 3847, 2563, 1854])

In [3]:
data = {'國家':['A','B','C','D','E','F','G'] ,
        '人口': PP}
data = pd.DataFrame(data)

In [4]:
data

  國家    人口
0  A   708
1  B  8954
2  C  6858
3  D    18
4  E  3847
5  F  2563
6  G  1854

In [5]:
data.describe()

                人口
count     7.000000
mean   3543.142857
std    3282.187605
min      18.000000
25%    1281.000000
50%    2563.000000
75%    5352.500000
max    8954.000000

In [6]:
data.nlargest(1,'人口')

  國家    人口
1  B  8954